In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("data/Library_Usage.csv")

/tmp/ipykernel_3694/1525811659.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Library_Usage.csv")

In [6]:
df['Circulation Active Year'] = pd.to_numeric(
    df['Circulation Active Year'], errors='coerce')

In [7]:
df['Circulation Active Year']

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
436285    2022.0
436286    2015.0
436287    2022.0
436288    2020.0
436289    2023.0
Name: Circulation Active Year, Length: 436290, dtype: float64

In [8]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'], errors='coerce', format="%B")

In [9]:
df['Circulation Active Month']

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
          ..
436285   NaT
436286   NaT
436287   NaT
436288   NaT
436289   NaT
Name: Circulation Active Month, Length: 436290, dtype: datetime64[ns]

In [35]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

In [36]:
df['Membership Duration'] = (df['Circulation Active Year'] - df['Year Patron Registered'])*12 + df['Circulation Active Month']

In [39]:
df.to_csv("data/Library_Usage_Membership_Duration.csv")

In [40]:
df.head(10)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
0,5,Staff,53,15,NaN,b2,Bayview,NaN,2023.0,z,Email,True,2003,False,NaN
1,5,Staff,480,378,NaN,e9,Excelsior,NaN,2023.0,z,Email,True,2003,False,NaN
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,NaN,2023.0,z,Email,True,2011,False,NaN
3,5,Staff,3934,2140,NaN,o2,Ocean View,NaN,2023.0,z,Email,True,2003,False,NaN
4,5,Staff,1118,1035,NaN,o7,Ortega,NaN,2023.0,z,Email,True,2003,False,NaN
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,NaN,2023.0,z,Email,True,2003,False,NaN
6,5,Staff,774,218,55 to 59 years,x,Main,NaN,2023.0,z,Email,True,2003,False,NaN
7,5,Staff,508,330,45 to 54 years,x,Main,NaN,2023.0,z,Email,True,2005,False,NaN
8,5,Staff,178,27,NaN,x,Main,NaN,2020.0,z,Email,True,2003,False,NaN
9,5,Staff,110,41,45 to 54 years,x,Main,NaN,2023.0,z,Email,True,2016,False,NaN

In [38]:
row_filter = df['Membership Duration'] >=5
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
38,10,Visitor,8,5,25 to 34 years,n4,Noe Valley,5.0,2023.0,z,Email,True,2022,False,17.0
42,10,Visitor,9,5,45 to 54 years,r3,Richmond,5.0,2023.0,z,Email,True,2023,False,5.0
49,10,Visitor,2,6,25 to 34 years,p9,Presidio,5.0,2023.0,z,Email,True,2023,False,5.0
56,0,Adult,5,4,20 to 24 years,x,Main,5.0,2022.0,z,Email,True,2021,False,17.0
113,4,Welcome,0,0,25 to 34 years,x,Main,5.0,2023.0,z,Email,True,2019,False,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436153,0,Adult,0,0,35 to 44 years,x,Main,5.0,2023.0,z,Email,True,2023,NaN,5.0
436199,0,Adult,13,10,25 to 34 years,x,Main,5.0,2021.0,z,Email,True,2012,NaN,113.0
436250,16,Digital Access Card,0,0,55 to 59 years,x,Main,5.0,2021.0,NaN,NaN,False,2021,NaN,5.0
436255,16,Digital Access Card,0,0,45 to 54 years,x,Main,5.0,2021.0,NaN,NaN,False,2021,NaN,5.0
436267,0,Adult,0,0,20 to 24 years,x,Main,5.0,2023.0,NaN,NaN,False,2023,NaN,5.0

In [48]:
df[df['Membership Duration'].isna()]
df.isna().sum()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          912
Home Library Code                    2
Home Library Definition             30
Circulation Active Month        403786
Circulation Active Year          39513
Notice Preference Code           42989
Notice Preference Definition     42989
Provided Email Address               0
Year Patron Registered               0
Within San Francisco County       1207
Membership Duration             403786
dtype: int64

In [47]:
row_filter = df['Membership Duration'] == 'NaN'
df.loc[row_filter]

Empty DataFrame
Columns: [Patron Type Code, Patron Type Definition, Total Checkouts, Total Renewals, Age Range, Home Library Code, Home Library Definition, Circulation Active Month, Circulation Active Year, Notice Preference Code, Notice Preference Definition, Provided Email Address, Year Patron Registered, Within San Francisco County, Membership Duration]
Index: []

In [33]:
df["Year Patron Registered"].value_counts(normalize=True)

Year Patron Registered
2022    0.119583
2019    0.101515
2003    0.094052
2021    0.074799
2020    0.073369
2017    0.067203
2018    0.065603
2023    0.060249
2016    0.049781
2015    0.046201
2014    0.036593
2013    0.030553
2012    0.029066
2011    0.028348
2009    0.026109
2010    0.025779
2008    0.023154
2007    0.014862
2006    0.012042
2005    0.010910
2004    0.010229
Name: proportion, dtype: float64

In [34]:
df[df["Circulation Active Year"].isna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
45,1,Juvenile,0,0,0 to 9 years,x,Main,NaT,NaN,z,Email,True,2021,False
64,2,Teen,0,0,10 to 19 years,x,Main,NaT,NaN,z,Email,True,2021,False
65,3,Senior,0,0,75 years and over,m2,Marina,NaT,NaN,z,Email,True,2021,False
72,10,Visitor,0,0,25 to 34 years,x,Main,NaT,NaN,z,Email,True,2023,False
86,1,Juvenile,0,0,0 to 9 years,x,Main,NaT,NaN,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436262,2,Teen,0,0,10 to 19 years,x,Main,NaT,NaN,NaN,NaN,False,2023,NaN
436268,2,Teen,0,0,10 to 19 years,x,Main,NaT,NaN,NaN,NaN,False,2023,NaN
436273,0,Adult,0,0,35 to 44 years,x,Main,NaT,NaN,NaN,NaN,False,2021,NaN
436275,2,Teen,0,0,10 to 19 years,x,Main,NaT,NaN,NaN,NaN,False,2023,NaN
436280,0,Adult,0,0,25 to 34 years,x,Main,NaT,NaN,NaN,NaN,False,2023,NaN

In [22]:
df["Year Patron Registered"].dtypes

dtype('int64')

In [26]:
df.head(100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,NaT,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,NaT,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,NaT,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,NaT,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,NaT,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,10,Visitor,11,0,35 to 44 years,a5,Anza,NaT,2023.0,z,Email,True,2023,False
96,1,Juvenile,0,0,10 to 19 years,x,Main,NaT,NaN,z,Email,True,2021,False
97,10,Visitor,0,0,75 years and over,p1,Park,NaT,2023.0,NaN,NaN,False,2022,False
98,0,Adult,111,113,45 to 54 years,p1,Park,NaT,2023.0,z,Email,True,2015,False
99,16,Digital Access Card,0,0,25 to 34 years,x,Main,NaT,2023.0,NaN,NaN,False,2023,False

In [27]:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
count,436290.000000,436290,436290.000000,436290.000000,435378,436288,436260,32504,396777.000000,393301,393301,436290,436290.000000,435083
unique,NaN,17,NaN,NaN,10,75,29,NaN,NaN,1,1,2,NaN,1
top,NaN,Adult,NaN,NaN,25 to 34 years,x,Main,NaN,NaN,z,Email,True,NaN,False
freq,NaN,274682,NaN,NaN,92669,141878,142000,NaN,NaN,393301,393301,393301,NaN,435083
mean,1.081295,NaN,160.294843,78.317546,NaN,NaN,NaN,1900-05-01 00:00:00,2022.170698,NaN,NaN,NaN,2015.598327,NaN
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,1900-05-01 00:00:00,2004.000000,NaN,NaN,NaN,2003.000000,NaN
25%,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,1900-05-01 00:00:00,2022.000000,NaN,NaN,NaN,2012.000000,NaN
50%,0.000000,NaN,7.000000,3.000000,NaN,NaN,NaN,1900-05-01 00:00:00,2023.000000,NaN,NaN,NaN,2017.000000,NaN
75%,1.000000,NaN,78.000000,35.000000,NaN,NaN,NaN,1900-05-01 00:00:00,2023.000000,NaN,NaN,NaN,2021.000000,NaN
max,104.000000,NaN,45380.000000,11921.000000,NaN,NaN,NaN,1900-05-01 00:00:00,2023.000000,NaN,NaN,NaN,2023.000000,NaN
std,3.383103,NaN,537.923680,304.506449,NaN,NaN,NaN,NaN,1.358145,NaN,NaN,NaN,6.148953,NaN

In [28]:
print(df["Total Renewals"].min())

0

In [29]:
print(df.min())

TypeError: '<=' not supported between instances of 'float' and 'str'

In [30]:
df['Total Renewals'].sum()

34169162

In [31]:
df['Total Renewals'].between(100, 200).sum()

24595

In [18]:
df['membership duration'] = ('Circulation Active Year' - 'Year Patron Registered')*12 + 'Circulation Active Month'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [15]:
df[:10]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,NaT,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,NaT,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,NaT,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,NaT,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,NaT,2023.0,z,Email,True,2003,False
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,NaT,2023.0,z,Email,True,2003,False
6,5,Staff,774,218,55 to 59 years,x,Main,NaT,2023.0,z,Email,True,2003,False
7,5,Staff,508,330,45 to 54 years,x,Main,NaT,2023.0,z,Email,True,2005,False
8,5,Staff,178,27,NaN,x,Main,NaT,2020.0,z,Email,True,2003,False
9,5,Staff,110,41,45 to 54 years,x,Main,NaT,2023.0,z,Email,True,2016,False