In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/Library_Usage.csv")

/tmp/ipykernel_8361/1525811659.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Library_Usage.csv")

In [16]:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
count,436290.000000,436290,436290.000000,436290.000000,435378,436288,436260,396777.000000,396777.000000,393301,393301,436290,436290.000000,435083,396777.000000
unique,NaN,17,NaN,NaN,10,75,29,NaN,NaN,1,1,2,NaN,1,NaN
top,NaN,Adult,NaN,NaN,25 to 34 years,x,Main,NaN,NaN,z,Email,True,NaN,False,NaN
freq,NaN,274682,NaN,NaN,92669,141878,142000,NaN,NaN,393301,393301,393301,NaN,435083,NaN
mean,1.081295,NaN,160.294843,78.317546,NaN,NaN,NaN,6.325556,2022.170698,NaN,NaN,NaN,2015.598327,NaN,91.509747
std,3.383103,NaN,537.923680,304.506449,NaN,NaN,NaN,2.637332,1.358145,NaN,NaN,NaN,6.148953,NaN,75.009180
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,1.000000,2004.000000,NaN,NaN,NaN,2003.000000,NaN,1.000000
25%,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,5.000000,2022.000000,NaN,NaN,NaN,2012.000000,NaN,28.000000
50%,0.000000,NaN,7.000000,3.000000,NaN,NaN,NaN,7.000000,2023.000000,NaN,NaN,NaN,2017.000000,NaN,69.000000
75%,1.000000,NaN,78.000000,35.000000,NaN,NaN,NaN,7.000000,2023.000000,NaN,NaN,NaN,2021.000000,NaN,139.000000
max,104.000000,NaN,45380.000000,11921.000000,NaN,NaN,NaN,12.000000,2023.000000,NaN,NaN,NaN,2023.000000,NaN,247.000000

In [4]:
df['Circulation Active Year'] = pd.to_numeric(
    df['Circulation Active Year'], errors='coerce')

In [8]:
df['Circulation Active Year']

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
436285    2022.0
436286    2015.0
436287    2022.0
436288    2020.0
436289    2023.0
Name: Circulation Active Year, Length: 436290, dtype: float64

In [9]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'], errors='coerce', format="%b")

In [10]:
df['Circulation Active Month']

0        1900-03-01
1        1900-06-01
2        1900-01-01
3        1900-07-01
4        1900-07-01
            ...
436285   1900-10-01
436286   1900-11-01
436287   1900-03-01
436288   1900-09-01
436289   1900-07-01
Name: Circulation Active Month, Length: 436290, dtype: datetime64[ns]

In [11]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

In [12]:
df['Circulation Active Month']

0          3.0
1          6.0
2          1.0
3          7.0
4          7.0
          ...
436285    10.0
436286    11.0
436287     3.0
436288     9.0
436289     7.0
Name: Circulation Active Month, Length: 436290, dtype: float64

In [13]:
df['Membership Duration'] = (df['Circulation Active Year'] - df['Year Patron Registered'])*12 + df['Circulation Active Month']

In [14]:
df.to_csv("data/Library_Usage_Membership_Duration.csv")

In [15]:
df.head(10)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
0,5,Staff,53,15,NaN,b2,Bayview,3.0,2023.0,z,Email,True,2003,False,243.0
1,5,Staff,480,378,NaN,e9,Excelsior,6.0,2023.0,z,Email,True,2003,False,246.0
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,1.0,2023.0,z,Email,True,2011,False,145.0
3,5,Staff,3934,2140,NaN,o2,Ocean View,7.0,2023.0,z,Email,True,2003,False,247.0
4,5,Staff,1118,1035,NaN,o7,Ortega,7.0,2023.0,z,Email,True,2003,False,247.0
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,7.0,2023.0,z,Email,True,2003,False,247.0
6,5,Staff,774,218,55 to 59 years,x,Main,7.0,2023.0,z,Email,True,2003,False,247.0
7,5,Staff,508,330,45 to 54 years,x,Main,7.0,2023.0,z,Email,True,2005,False,223.0
8,5,Staff,178,27,NaN,x,Main,4.0,2020.0,z,Email,True,2003,False,208.0
9,5,Staff,110,41,45 to 54 years,x,Main,3.0,2023.0,z,Email,True,2016,False,87.0

In [17]:
df.isna().sum()d

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
Membership Duration             39513
dtype: int64

In [23]:
df["Membership Duration"] = df['Membership Duration'].fillna(0)

In [25]:
df.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
Membership Duration                 0
dtype: int64

In [26]:
df.to_csv("data/Library_Usage_Membership_Duration.csv")

In [27]:
df = df.dropna()

In [31]:
df.shape

(357838, 15)

In [32]:
df.to_csv("data/Library_Usage_Clean.csv")

In [33]:
df.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Within San Francisco County     0
Membership Duration             0
dtype: int64

In [34]:
df["Year Patron Registered"].value_counts(normalize=True)

Year Patron Registered
2022    0.101789
2003    0.099989
2019    0.099028
2018    0.070563
2017    0.067757
2021    0.067273
2020    0.065535
2016    0.055360
2023    0.051188
2015    0.050478
2014    0.040337
2013    0.033605
2012    0.031866
2011    0.031034
2009    0.028843
2010    0.028326
2008    0.025017
2007    0.016214
2006    0.013011
2005    0.011715
2004    0.011072
Name: proportion, dtype: float64